fonttools==4.25.0
mkl-service==2.4.0
munkres==1.1.4
protobuf==3.20.3
pyarrow==11.0.0
pypiwin32==223
pywin32==305.1
scipy==1.11.4
streamlit==1.29.0
torch==2.1.2
torchaudio==2.1.2
torchvision==0.16.2
webencodings==0.5.1
